.FactionsContainer {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0.2rem 0;
}

.FactionItem {
  flex: 0 0 auto;
  display: flex;

  .Separator {
    margin-right: 5px;
  }
}
